.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.gallery-item {
  display: block;
  width: 600px;
  height: 400px;
}
.gallery-image {
  width: 100%;
  height: 100%;
}
